* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(80,80,80);
}
a {
    text-decoration: none;
    color: rgb(30, 30, 30)
}
a:hover,
a:focus {
    color: rgb(230,230,230);
}

/* HEADER */
/* SKIP NAV BUTTON */
.skip-to-content {
    position: fixed;
    opacity: 0;
}
.skip-to-content:focus {
    opacity: 100;
}
/* SKIP NAV BUTTON */

/* SITE HEADER */
.site-header {
    display: flex;
    padding: 0 0.5rem;
}
.site-header > h2 {
    display: inline-block;
    align-self: flex-end;
    bottom: 0.25rem;
    padding-left: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
}
/* SITE HEADER */

/* NAVIGATION */
nav {
    position: relative;
    background-color: rgb(145, 145, 145);
}
.ul-h {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
nav > .ul-h > li {
    position: relative;
    width: 100%;
    height: 100%;
}
nav > .ul-h > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0;
    text-align: center;
}
nav > .ul-h > li > a:hover,
nav > .ul-h > li > a:focus {
    background-color: rgb(30, 30, 30);
}
.current-page {
    box-shadow: 0 -0.25rem white inset;
}
/* NAVIGATION */
/* HEADER*/

/* SLIDESHOW */
.slideshow-container {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    justify-content: center;
    height: 50vh;
    overflow: hidden;
}

/* SLIDES */
.slide {
    display: none;
    position: relative;
    grid-area: 1 / 1 / span 1 / span 2;
    height: 50vh;
    overflow: hidden;
    animation: translate-in-out 7500ms ease-in-out;
}
.slide > .project-link {
    display: grid;
    position: relative;
    grid-template-rows: 4fr 1fr;
    max-height: 100%;
    animation: slide-in-out 7500ms ease-in-out;
}
.slide > .project-link > img {
    position: absolute;
    object-fit: cover;
    grid-area: 1 / 1 / span 2 / span 1;
    justify-self: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.slide > .project-link > figcaption {
    position: absolute;
    display: block;
    grid-area: 2 / 1 / span 1 / span 1;
    height: 100%;
    width: 100%;
    padding: 1rem 3.5rem;
    background-color: rgba(0,0,0,0.4);
    color: white;
    z-index: 10;
}
.slide > .project-link > figcaption > p {
    position: relative;
    display: block;
    height: 2.25rem;
    width: 80%;
    overflow: hidden;
}
/* SLIDES */

/* SLIDE NAV */
.slideshow-nav {
    position: absolute;
    align-self: center;
    display: grid;
    margin-bottom: 0.5rem;
    opacity: 15%;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
}
.slideshow-nav:hover,
.slideshow-nav:focus {
    opacity: 100%;
    cursor: pointer;
}
.slideshow-prev {
    justify-self: start;
    grid-area: 1 / 1 / span 1 / span 1;
}
.slideshow-next {
    justify-self: end;
    grid-area: 1 / 2 /span 1 / span 1;
}

/* SLIDESHOW NAV ARROWS */
.arrow::before {
	display: block;
    position: relative;
    height: 2rem;
    width: 2rem;
    transform: rotate(-45deg);
    border-style: solid;
    border-color: white;
	border-width: 0.5em 0.5em 0 0;
	content: '';
}
.arrow.next:before {
	left: -0.5rem;
	transform: rotate(45deg);
}
.arrow.prev:before {
	left: 0.5em;
	transform: rotate(-135deg);
}
/* SLIDESHOW NAV ARROWS */
/* SLIDE NAV */

/* SLIDE INDICATOR */
.slide-indicators-container {
    position: relative;
    display: grid;
    grid-area: 2 / 1 / span 1 / span 2;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    top: -0.25rem;
}
.slide-indicator {
    opacity: 60%;
    border-bottom: 0.25rem solid black;
}
.slide-indicator:active,
.slide-indicator:hover,
.slide-indicator:focus,
.active {
    opacity: 100%;
    border-bottom: 0.25rem solid white;
}
.slide-indicator:hover {
    cursor: pointer;
}
.slide-indicator:nth-child() {
    grid-area: 1 / auto / span 1 / span 1;
}
/* SLIDE INDICATOR */
/* SLIDESHOW */

/* LANGUAGES / FRAMEWORKS */
.language-ribbon {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
}
/* LANGUAGES / FRAMEWORKS */

/* MAIN CONTENT */
.primary {
    display: grid;
    grid-template: 4rem 1fr / 5fr 1fr;
    padding: 0 0.5rem;
}
.primary > h3,
.featured > h3 {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1rem 2rem;
    background-color: rgb(125, 125, 125);
    color: white;
    font-size: 2rem;
}
/* INTRO */
.intro > p,
.about-bio > p {
    padding: 0.5rem;
}
.intro > p:first-of-type,
.about-bio > p:first-of-type {
    font-style: italic;
    font-weight: bold;
}
/* INTRO */

/* SOCIALS*/
.socials {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.socials > .social-link > a {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-bottom: 0.25rem;
}
.socials > .social-link > a > .social-img-container {
    position: relative;
    display: block;
}
.socials > .social-link > a > .img-container > img {
    position: absolute;
    object-fit: cover;
    grid-area: 1 / 1 / span 2 / span 1;
    justify-self: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.socials > .social-link > a > figcaption {
    position: relative;
}
.socials > .social-link > a > figcaption > h3 {
    margin-bottom: 0.25rem;;
    padding: 0.25rem 0.5rem;
    background-color: rgb(30, 30, 30);
    color: white;
}
.socials > .social-link > a > figcaption > p {
    max-height: 3.5rem;
    overflow: hidden;
}
/* SOCIALS*/
/* MAIN CONTENT */

/* FOOTER */
footer {
    position: relative;
    margin-top: auto;
    padding: 1rem 0.25rem;
    background-color: rgb(145, 145, 145);
}
/* SITEMAP */
.sitemap {
    padding-bottom: 0.5rem;
}
/* SITEMAP */

/* LEGAL */
.legal-info {
    position: relative;
    padding: 0.5rem 0 0 0;
    text-align: center;
}
/* LEGAL */
/* FOOTER */

/* ABOUT */
#about-me {
    display: grid;
    grid-template: 4.5rem auto / 2fr 3fr;
    min-height: 50vh;
}
#about-me > .img-container,
#about-me > .about-bio {
    position: relative;
    display: block;
    margin: 3rem 0;
    min-height: 50vh;
}
#about-me > .img-container > img {
    position: absolute;
    object-fit: cover;
    justify-self: center;
    width: 100%;
    max-height: 100%;
    z-index: 1;
}
/* ABOUT */

/* PROJECTS */
#featured-projects {
    margin: 2rem 10%;
}
#projects-container {
    display: block;
}
/* PROJECTS LIST CONTAINER */
.projects-list-container{
    position: relative;
    padding: 1rem 3rem;
}
/* SEARCH-SORT */
.search-sort {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-bottom: 1rem;
}
.search-sort > form {
    margin-right: 1rem;
}
/* SEARCH SORT */

/* PROJECT LIST */
#project-list {
    list-style-type: none;
    display: grid;
}
/* PROJECT */
.project {
    display: flex;
    margin: 0.5rem 0 ;
    background-color: rgb(120, 120, 120);
}
.project > img {
    width: 25%;
    object-fit: cover;
}
/* PROJECT INFO */
.project > .project-info {
    padding-bottom: 0.75rem;
}
.project > .project-info > h4 {
    position: relative;
    display: flex;
    height: 2rem;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    color: white;
}
.project > .project-info > aside {
    margin: 0.5rem;
    font-style: italic;
    color:rgb(70, 70, 70);
}
.project > .project-info > p {
    margin: 0 0.5rem;
}
/* PROJECT INFO */
/* PROJECT */
/* PROJECT LIST */
/* PROJECTS LIST CONTAINER */
/* PROJECTS */

/* ANIMATION */
@keyframes slide-in-out {
    0% {
        height: 50%;
        width: 50%;
        opacity: 0;
        font-size: 0.5rem;
    }
    10% {
        height: 100%;
        width: 100%;
        opacity: 100%;
        font-size: 1rem;
    }
    90% {
        height: 100%;
        width: 100%;
        opacity: 100%;
        font-size: 1rem;
    }
    100% {
        height: 50%;
        width: 50%;
        opacity: 0;
        font-size: 0.5rem;
    }
}
@keyframes translate-in-out {
    0% {
        left: -50%;
        right: 50%;
        top: 50%;
    }
    10% {
        left: 0;
        right: 0;
        top: 0;
    }
    90% {
        left: 0;
        right: 0;
        top: 0;
    }
    100% {
        left: 50%;
        right: -50%;
        top: 50%;
    }
}
/* ANIMATION */